
.calendar {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #757a79;
    color: #fff;
}

.calendar-header h2 {
    font-size: 24px;
    margin: 5;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    padding: 23px;
    background-color: #aeccc6;
}

.day {
    padding: 10px;
    border: 1px solid #3d3939;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.day:hover {
    background-color: #2784ee;
}

.day.today {
    background-color: grey;
}

.day.has-event {
    font-weight: bold;
}